{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Do you have what it takes?</h1>
</div>
<p class="lead">Flex on your friends. Compete. Win.</p>
<p>What's the point of being wealthy if you can't rub it in your friend's faces. Shiny cars? Mega Yachts? Financial Stability? We work <em>tirelessly</em> to obtain these things, but are still left with a sense of longing. Until now.</p>
<p>Our team of computer scientists, mathematicians and interns have been working tirelessly around the clock for little to no pay, all to bring you a cutting edge game which will <b>REVOLUTIONIZE</b> the gaming space...</p>
<p><b>The Winner</b> is a fast paced Live game action game not too dissimilar to Call of Duty. Compete amongst your friends to climb to the top and earn the coveted title of <b>THE WINNER.</b></p>
<p>Spend G-Bucks to earn G-Points (which convert to G-Cash) and invest into your leaderboard rank! But be warned; your leaderboard rank will degrade over time! Refill those G-Bucks to maintain your rank and flex on your friends!</p>

{% endblock %}
