{% extends 'layouts/form.html' %}
{% block title %}Purchase G-Bucks{% endblock %}
{% block content %}
<form method="post" class="form form-reset">
    <h3 class="form-heading">Purchase G-Bucks <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
<h4>Choose an Amount</h4>
<form action="{{ url_for('buy') }}" method="post">
    <button type="submit" name="amount" value="10">$10</button>
    <button type="submit" name="amount" value="20">$20</button>
    <button type="submit" name="amount" value="50">$50</button>
    <button type="submit" name="amount" value="100">$100</button>
</form>
{% endblock %}
